<h2>Grafica</h2>

<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart
        width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [chartType]="'line'">
      </canvas>
      </div>
  </div>
</div>
